img {
  width: 100%;
}

.landing {
  position: relative;
  background: url("./img/showcase.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.bd-navbar {
  min-height: 4rem;
  background-color: #563d7c;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05),
    inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.bd-footer {
  background-color: #563d7c;
}

.bd-drop {
  background-color: #563d7c;
}

.point {
  cursor: pointer;
}

.footer {
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
}

body {
  padding-top: 5rem;
}

.item-hover {
  color: #c7c1cf;
}

.item-hover:hover {
  background-color: #563d7c;
  color: #fff;
}

.pushdown {
  height: 50px;
}

.ck-editor__editable_inline {
  min-height: 400px;
}

.btn-type {
  background-color: rgba(0, 0, 0, 0.03);
}

.btn-type:hover {
  background-color: rgba(0, 0, 0, 0.125);
}

body {
  /* Never get smaller than this */
  font-size: 14px;
}

@media (min-width: 600px) {
  body {
    font-size: 15px;
  }
}

@media (min-width: 800px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1000px) {
  body {
    /* Never get larger than this */
    font-size: 20px;
  }
}

.post-icon {
  float: right;
  padding-right: 10px;
  padding-top: 10px;
}

.add {
  background-color: #31b0d5;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #46b8da;
}

#addbutton {
  position: fixed;
  bottom: -4px;
  right: 10px;
}

.likebutton {
  color: black;
}

.likebutton:hover {
  color: blue;
}

.dislikebutton {
  color: black;
}

.dislikebutton:hover {
  color: red;
}

.bigHr {
  background-color: dimgrey !important;
  color: dimgrey !important;
  border: solid 2px dimgrey !important;
  height: 5px !important;
  width: 1000px !important;
}

.push-down {
  min-height: 100px;
}

.mylist {
  list-style-type: none;
}
